.exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
* {
    font-family: 'Poppins', sans-serif;
}

.languages {
    display: flex;
    padding-left: 5px;
    justify-content: space-around;
    padding-bottom: 50px;
}
.lang {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.git {
    font-weight: bold;
    /* padding-left: 10px;*/
    padding: 10px;
   /* background-color: #B73225; */
   /* height: 200px; */
   background-color: #f34f29;
   /* background-image: radial-gradient(white, red); */
   margin-bottom: 5px;
}

.Git_Word {
    font-weight: bold;
}

.gitWordMaster {
    display: flex;
    justify-content: center;
}

img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .javascript {
      background-color: #f7df1e;
      padding: 10px;
      font-weight: bold;
      margin-bottom: 10px;

  }
  .python {
      background-color: lightblue;
      padding: 10px;
      font-weight: bold;
      margin-bottom: 10px;
  }
  .java {
    background-color: #339999;
    padding: 10px;
    font-weight: bold;
  }
  .typescript {
      margin-bottom: 10px;
      font-weight: bold;
      background-color: #007acc ;
  }