* {
    font-family: 'Poppins', sans-serif;
}

.who {
    display: flex;
    justify-content: center;
}
.whoMaster {
    /* display: flex; */
    /* justify-content: center; */
}

.whoMasterChild {
    /* display: flex;
    justify-content: center; */
    /* width: 75vw;
    background-color: red; */
}

.whoMasterChildm {
    position: absolute;
    left: 50%;
    top: 50%;
}